/Projects/HelloNetbeans/nbproject/private/
/Projects/AufgabeDeutscheStaedte/nbproject/private/
/Projects/AufgabeDeutscheStaedte/build/
/Projects/JDBC/nbproject/private/
/Projects/JDBC/build/
/Projects/WebApplication1/nbproject/private/
/Projects/WebApplication1/build/
/Projects/WebApp/nbproject/private/
/Projects/WebApp/build/
/Projects/WebApp/dist/