<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>ServletZugang</servlet-name>
        <servlet-class>svts.ServletZugang</servlet-class>
        
        <security-role-ref>
            <description>
                die isUserInRole soll true liefern, wenn sie als Argument
                'manager' hat, aber der Request von User mit der Rolle 'regManager' kommt
            </description>
            <role-link>regManager</role-link>
            <role-name>manager</role-name>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletZugang</servlet-name>
        <url-pattern>/zugang</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <role-name>regUser</role-name>
    </security-role>
    <security-role>
        <role-name>regAdmin</role-name>
    </security-role>
    <security-role>
        <role-name>regManager</role-name>
    </security-role>
                        
    <!--
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CollAll</web-resource-name>
            <url-pattern>/zugang</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    -->
</web-app>
